Repository aquarist-labs/aquarium, pull requests merged in 2021-05, with the labels that each got.

#462 gravel: init stage rework (phase 2)
  src/aquarium.py
  src/gravel/api/local.py
  src/gravel/cephadm/cephadm.py
  src/gravel/controllers/nodes/etcd.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/resources/storage.py
  src/gravel/tests/conftest.py
Labels: Required, enhancement, gravel

#458 glass: installer refactoring (horizontal stepper)
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.html
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.scss
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.spec.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.scss
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/pages/install-config-page/install-config-page.component.html
  src/glass/src/app/pages/install-config-page/install-config-page.component.scss
  src/glass/src/app/pages/install-config-page/install-config-page.component.ts
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.html
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.html
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.scss
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard-page/install-wizard.module.ts
  src/glass/src/app/pages/install-wizard-page/models/install-wizard-context.type.ts
  src/glass/src/app/pages/install-wizard-page/steps/devices-step/devices-step.component.html
  src/glass/src/app/pages/install-wizard-page/steps/devices-step/devices-step.component.scss
  src/glass/src/app/pages/install-wizard-page/steps/devices-step/devices-step.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/devices-step/devices-step.component.ts
  src/glass/src/app/pages/install-wizard-page/steps/host-details-step/host-details-step.component.html
  src/glass/src/app/pages/install-wizard-page/steps/host-details-step/host-details-step.component.scss
  src/glass/src/app/pages/install-wizard-page/steps/host-details-step/host-details-step.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/host-details-step/host-details-step.component.ts
  src/glass/src/app/pages/install-wizard-page/steps/networking-step/networking-step.component.html
  src/glass/src/app/pages/install-wizard-page/steps/networking-step/networking-step.component.scss
  src/glass/src/app/pages/install-wizard-page/steps/networking-step/networking-step.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/networking-step/networking-step.component.ts
  src/glass/src/app/pages/install-wizard-page/steps/services-step/services-step.component.html
  src/glass/src/app/pages/install-wizard-page/steps/services-step/services-step.component.scss
  src/glass/src/app/pages/install-wizard-page/steps/services-step/services-step.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/services-step/services-step.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/register-page/register-page.component.scss
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.scss
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.spec.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
  src/glass/src/app/shared/models/declarative-form-modal-config.type.ts
  src/glass/src/app/shared/services/status-route-guard.service.spec.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
  src/glass/src/assets/images/aquarium-logo.svg
  src/glass/src/styles.scss
Labels: feature, glass

#464 images: bundle containers
  images/microOS/disk.sh
  tools/build-image.sh
Labels: feature, images

#465 gravel: make obtaining inventory quicker on node start
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/inventory.py
Labels: Required, bug, enhancement, gravel

#468 glass: Finish deployment
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.html
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.ts
Labels: bug, glass

#471 glass: service capacity widget improvement
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.scss
Labels: enhancement, glass

#469 glass: Use icon buttons
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.html
Labels: cleanup, glass

#470 glass: service creation expansion panel description
  src/glass/src/app/pages/install-wizard-page/steps/services-step/services-step.component.scss
Labels: bug, glass

#473 glass: Remove useless CSS code
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.scss
Labels: cleanup, glass

#477 glass: Fix various issues in installer
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard-page/steps/networking-step/networking-step.component.scss
  src/glass/src/app/pages/install-wizard-page/steps/services-step/services-step.component.html
Labels: cleanup, glass

#484 glass: fix jest deprecation warning
  src/glass/src/setupJest.ts
Labels: glass

#491 doc: fix node names
  doc/from-zero-to-hacking.md
Labels: bug, documentation

#460 Fixtures
  images/microOS/root/usr/lib/systemd/system/aquarium.service
  run_aquarium.sh
  src/aquarium.py
  src/gravel/api/local.py
  src/gravel/api/nfs.py
  src/gravel/api/orch.py
  src/gravel/api/services.py
  src/gravel/cephadm/cephadm.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/kv.py
  src/gravel/controllers/nodes/bootstrap.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/etcd.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/cephfs.py
  src/gravel/controllers/orch/nfs.py
  src/gravel/controllers/orch/orchestrator.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
  src/gravel/tests/conftest.py
  src/gravel/tests/data/gather_facts_real.json
  src/gravel/tests/data/inventory_real.json
  src/gravel/tests/functional/test_app.py
  src/gravel/tests/unit/controllers/orch/test_ceph.py
  src/gravel/typings/uvicorn.pyi
  src/mypy.ini
  src/requirements-test.txt
  src/tools/checks/ceph.py
  src/tools/checks/cephfs.py
  src/tools/checks/storage.py
  systemd/aquarium.service
Labels: gravel

#492 aqrdev: rework internal structure
  tools/aqrdev
  tools/libaqr/__init__.py
  tools/libaqr/deployment.py
  tools/libaqr/errors.py
  tools/libaqr/misc.py
  tools/libaqr/vagrant.py
Labels: enhancement, tooling

#476 gravel: fix inventory gathering, and speed up device probing
  src/gravel/controllers/config.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/inventory_sub.py
  src/gravel/tests/unit/controllers/resources/test_inventory.py
Labels: Required, bug, gravel

#493 gravel: add pytest coverage report
  src/.coveragerc
  src/requirements-test.txt
  src/tox.ini
Labels: gravel

#495 gravel/tests: add missing type hints
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/cephadm/test_cephadm.py
  src/gravel/tests/unit/controllers/orch/test_ceph.py
  src/gravel/tests/unit/controllers/test_config.py
  src/gravel/tests/unit/controllers/test_gstate.py
  src/gravel/tests/unit/controllers/test_services.py
Labels: enhancement, gravel

#490 [doc]: update doc for python3.8 and pyenv for issue [#440]
  doc/from-zero-to-hacking.md
Labels: documentation

#496 docs/project-plan: add roadmap and updated milestones
  doc/from-zero-to-hacking.md
  doc/project-plan/project-plan.rst
  doc/project-plan/roadmap.rst
Labels: documentation, enhancement

#499 aqrtest: functional test battery against a live cluster
  tests/examples/test_libaqr.py
  tests/suites/smoke/test_api_bootstrap.py
  tests/suites/smoke/test_api_orch.py
  tools/aqrdev
  tools/aqrtest.py
  tools/libaqr/deployment.py
  tools/libaqr/errors.py
  tools/libaqr/http.py
  tools/libaqr/images.py
  tools/libaqr/misc.py
  tools/libaqr/runner.py
  tools/libaqr/suites.py
  tools/libaqr/testing.py
  tools/libaqr/vagrant.py
Labels: CI, feature, tooling

#503 glass: join cluster form - add port number field
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/pages/install-register-page/install-register-page.component.html
  src/glass/src/app/pages/install-register-page/install-register-page.component.scss
  src/glass/src/app/pages/install-register-page/install-register-page.component.spec.ts
  src/glass/src/app/pages/install-register-page/install-register-page.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/register-page/register-page.component.html
  src/glass/src/app/shared/forms/validators.spec.ts
  src/glass/src/app/shared/forms/validators.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
Labels: feature, glass

#504 glass: Fix form field suffix
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
Labels: cleanup, glass

#480 wasser: add ubuntu config
  .wasser/config-ubuntu.yaml
  .wasser/config.yaml
  tools/build-image.sh
  tools/libaqr/images.py
  tools/setup-dev.sh
Labels: glass

#481 glass: Replace notification library
  src/glass/angular.json
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/app.module.ts
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.spec.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.spec.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/install-register-page/install-register-page.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/devices-step/devices-step.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/host-details-step/host-details-step.component.spec.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.spec.ts
  src/glass/src/app/shared/services/http-error-interceptor.service.spec.ts
  src/glass/src/app/shared/services/notification.service.spec.ts
  src/glass/src/app/shared/services/notification.service.ts
  src/glass/src/defaults.scss
  src/glass/src/styles.scss
Labels: cleanup, enhancement, glass

#505 gravel: add codecov report to PRs
  .github/workflows/tox.yml
  README.md
  codecov.yml
  src/tox.ini
Labels: CI, documentation, gravel

#506 glass: Use Material CDK to copy to clipboard
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
Labels: enhancement, glass

#507 glass: Upgrade to Angular 12
  src/glass/angular.json
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.scss
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.scss
  src/glass/src/app/shared/components/token-input/token-input.component.ts
  src/glass/src/environments/environment.ts
  src/glass/src/polyfills.ts
  src/glass/src/styles.scss
Labels: WIP, enhancement, glass

#511 gravel: osd pool default size
  src/gravel/cephadm/cephadm.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/orch/test_ceph.py
Labels: gravel

#509 glass: show devices step before deploying cluster
  src/aquarium.py
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.html
  src/glass/src/app/pages/install-wizard-page/install-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard-page/install-wizard.module.ts
  src/glass/src/app/pages/install-wizard-page/steps/local-devices-step/devices-step.component.html
  src/glass/src/app/pages/install-wizard-page/steps/local-devices-step/devices-step.component.scss
  src/glass/src/app/pages/install-wizard-page/steps/local-devices-step/devices-step.component.spec.ts
  src/glass/src/app/pages/install-wizard-page/steps/local-devices-step/devices-step.component.ts
  src/glass/src/app/shared/services/api/bootstrap.service.spec.ts
  src/glass/src/app/shared/services/api/bootstrap.service.ts
  src/glass/src/app/shared/services/api/local-inventory.service.spec.ts
  src/glass/src/app/shared/services/api/local-inventory.service.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/glass/src/app/shared/services/api/orch.service.spec.ts
  src/glass/src/app/shared/services/api/orch.service.ts
  src/gravel/api/bootstrap.py
  src/gravel/api/nodes.py
  src/gravel/controllers/nodes/bootstrap.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/errors.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
Labels: Required, enhancement, glass, gravel

#510 images/builder: Build an image in one go with containers
  images/builder/Dockerfile
  images/builder/README.md
  tools/autobuilder.sh
  tools/build-image.sh
Labels: documentation, feature, images, tooling
