Repository aquarist-labs/aquarium, pull requests merged in 2021-09, with the labels that each got.

#636 glass: Switch UI library from Angular Material to Bootstrap [Part 4/x]
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.html
  src/glass/src/app/pages/hosts-page/hosts-page.component.scss
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.scss
  src/glass/src/app/pages/users-page/users-page.component.html
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/models/declarative-form-modal-config.type.ts
  src/glass/src/app/shared/services/dialog.service.spec.ts
  src/glass/src/app/shared/services/dialog.service.ts
  src/glass/src/scss/bootstrap.scss
Labels: glass, cleanup

#639 glass: Switch UI library from Angular Material to Bootstrap [Part 5/x]
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.spec.ts
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.scss
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/components/alert-panel/alert-panel.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.scss
  src/glass/src/app/shared/components/dialog/dialog.component.spec.ts
  src/glass/src/app/shared/components/dialog/dialog.component.ts
  src/glass/src/app/shared/components/language-button/language-button.component.html
  src/glass/src/app/shared/enum/icon.enum.ts
  src/glass/src/scss/bootstrap.scss
Labels: glass, cleanup

#640 glass: Switch UI library from Angular Material to Bootstrap [Part 6/x]
  src/glass/src/app/core/layouts/installer-layout/installer-layout.component.html
  src/glass/src/app/core/layouts/installer-layout/installer-layout.component.scss
  src/glass/src/app/core/layouts/main-layout/main-layout.component.html
  src/glass/src/app/core/layouts/main-layout/main-layout.component.scss
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.html
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.scss
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/pages/hosts-page/hosts-page.component.scss
  src/glass/src/app/pages/install-wizard/install-wizard-page.scss
  src/glass/src/app/pages/not-found-page/not-found-page.component.html
  src/glass/src/app/pages/not-found-page/not-found-page.component.scss
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/users-page/users-page.component.scss
  src/glass/src/app/shared/components/language-button/language-button.component.html
  src/glass/src/scss/bootstrap.scss
  src/glass/src/scss/defaults/_colors.scss
Labels: glass, cleanup

#643 glass: fix top bar
  src/glass/src/app/core/top-bar/top-bar.component.html
Labels: glass

#641 glass: migrate sidenav from material to bootstrap
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.spec.ts
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar.component.spec.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.ts
Labels: glass

#644 glass: Switch UI library from Angular Material to Bootstrap [Part 7/x]
  src/glass/src/app/core/layouts/installer-layout/installer-layout.component.scss
  src/glass/src/app/core/layouts/main-layout/main-layout.component.html
  src/glass/src/app/core/layouts/main-layout/main-layout.component.scss
  src/glass/src/app/core/layouts/main-layout/main-layout.component.ts
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/scss/defaults/_colors.scss
  src/glass/src/scss/defaults/_variables.scss
Labels: glass, cleanup

#645 glass: Switch UI library from Angular Material to Bootstrap [Part 8/x]
  src/glass/src/app/core/layouts/blank-layout/blank-layout.component.html
  src/glass/src/app/core/layouts/installer-layout/installer-layout.component.html
  src/glass/src/app/core/layouts/installer-layout/installer-layout.component.scss
  src/glass/src/app/core/layouts/main-layout/main-layout.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.html
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-wizard-page.scss
  src/glass/src/app/pages/install-wizard/steps/ntp-step/ntp-step.component.scss
  src/glass/src/app/pages/login-page/login-page.component.html
  src/glass/src/app/pages/login-page/login-page.component.scss
  src/glass/src/app/pages/not-found-page/not-found-page.component.html
  src/glass/src/app/pages/not-found-page/not-found-page.component.scss
  src/glass/src/app/pages/users-page/users-page.component.scss
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/assets/fonts/lato-v17-latin-700.eot
  src/glass/src/assets/fonts/lato-v17-latin-700.svg
  src/glass/src/assets/fonts/lato-v17-latin-700.ttf
  src/glass/src/assets/fonts/lato-v17-latin-700.woff
  src/glass/src/assets/fonts/lato-v17-latin-700.woff2
  src/glass/src/assets/fonts/lato-v17-latin-regular.eot
  src/glass/src/assets/fonts/lato-v17-latin-regular.svg
  src/glass/src/assets/fonts/lato-v17-latin-regular.ttf
  src/glass/src/assets/fonts/lato-v17-latin-regular.woff
  src/glass/src/assets/fonts/lato-v17-latin-regular.woff2
  src/glass/src/assets/fonts/poppins-v15-latin-300.eot
  src/glass/src/assets/fonts/poppins-v15-latin-300.svg
  src/glass/src/assets/fonts/poppins-v15-latin-300.ttf
  src/glass/src/assets/fonts/poppins-v15-latin-300.woff
  src/glass/src/assets/fonts/poppins-v15-latin-300.woff2
  src/glass/src/assets/fonts/poppins-v15-latin-500.eot
  src/glass/src/assets/fonts/poppins-v15-latin-500.svg
  src/glass/src/assets/fonts/poppins-v15-latin-500.ttf
  src/glass/src/assets/fonts/poppins-v15-latin-500.woff
  src/glass/src/assets/fonts/poppins-v15-latin-500.woff2
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.eot
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.svg
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.ttf
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.woff
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.woff2
  src/glass/src/scss/bootstrap.scss
  src/glass/src/scss/defaults/_fonts.scss
  src/glass/src/scss/defaults/_index.scss
  src/glass/src/styles.scss
Labels: glass, cleanup

#647 glass: Switch UI library from Angular Material to Bootstrap [Part 9/x]
  COPYING
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.html
  src/glass/src/app/shared/components/language-button/language-button.component.html
  src/glass/src/scss/defaults/_colors.scss
  src/glass/src/scss/defaults/_fonts.scss
  src/glass/src/scss/defaults/_variables.scss
  src/glass/src/scss/vendor/_colors.scss
  src/glass/src/scss/vendor/_fonts.scss
  src/glass/src/scss/vendor/_index.scss
  src/glass/src/scss/vendor/_variables.scss
Labels: documentation, glass, cleanup

#631 gravel: replace etcd with kvstore backed by ceph itself
  doc/dev/gravel/systemd-boot.md
  doc/project-plan/roadmap.rst
  doc/project-plan/testing-plan.rst
  images/README.md
  images/aquarium/config.sh
  images/aquarium/config.xml
  images/aquarium/disk.sh
  src/boot/aqrbootsetup.sh
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/kv.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/etcd.py
  src/gravel/controllers/nodes/messages.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/systemdisk.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/nodes/test_etcd.py
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
  src/gravel/typings/aetcd3/__init__.pyi
  src/gravel/typings/aetcd3/client.pyi
  src/gravel/typings/aetcd3/events.pyi
  src/gravel/typings/aetcd3/locks.pyi
  src/gravel/typings/aetcd3/members.pyi
  src/gravel/typings/rados.pyi
  src/mypy.ini
  src/requirements.txt
Labels: documentation, enhancement, gravel

#621 tools: Adds force option on box destroy
  tools/libaqua/cli.py
  tools/libaqua/deployment.py
  tools/libaqua/vagrant.py
Labels: enhancement, tooling

#651 glass: Enhance the datatable
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.html
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.ts
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.scss
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/models/datatable-column.type.ts
  src/glass/src/scss/bootstrap.scss
  src/glass/src/testing/unit-test-helper.ts
Labels: enhancement, glass

#655 Fix various UI issues
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/shared/components/alert-panel/alert-panel.component.html
  src/glass/src/app/shared/components/alert-panel/alert-panel.component.scss
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.scss
  src/glass/src/app/shared/components/token-input/token-input.component.html
  src/glass/src/app/shared/components/token-input/token-input.component.scss
Labels: bug, glass

#656 Fix various UI issues after introducing Bootstrap SCSS modifications …
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.scss
  src/glass/src/styles.scss
Labels: bug, glass

#638 gravel: Remove services
  src/aquarium.py
  src/gravel/api/nfs.py
  src/gravel/api/services.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/nfs.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/services.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/test_config.py
  src/gravel/tests/unit/controllers/test_services.py
Labels: gravel

#649 glass: convert widgets to bootstrap
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.spec.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/shared/components/widget/widget.component.html
  src/glass/src/app/shared/components/widget/widget.component.scss
Labels: glass

#659 glass: Use bootstrap in datatable action dropdown
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.scss
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
Labels: glass

#658 gravel: A failing JWT authentication should log out the user
  src/gravel/api/__init__.py
Labels: bug, gravel

#660 glass: Switch UI library from Angular Material to Bootstrap [Part 10/x]
  src/glass/angular.json
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/app.module.ts
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.spec.ts
  src/glass/src/app/core/layouts/main-layout/main-layout.component.spec.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/pages/hosts-page/hosts-page.component.html
  src/glass/src/app/pages/hosts-page/hosts-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-wizard.module.ts
  src/glass/src/app/pages/install-wizard/steps/hostname-step/hostname-step.component.spec.ts
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.spec.ts
  src/glass/src/app/pages/install-wizard/steps/ntp-step/ntp-step.component.spec.ts
  src/glass/src/app/pages/install-wizard/steps/registration-step/registration-step.component.spec.ts
  src/glass/src/app/pages/install-wizard/steps/registration-step/registration-step.component.ts
  src/glass/src/app/pages/login-page/login-page.component.spec.ts
  src/glass/src/app/pages/login-page/login-page.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/users-page/users-page.component.html
  src/glass/src/app/pages/users-page/users-page.component.scss
  src/glass/src/app/pages/users-page/users-page.component.spec.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
  src/glass/src/app/shared/components/token-input/token-input.component.html
  src/glass/src/app/shared/components/token-input/token-input.component.scss
  src/glass/src/app/shared/components/token-input/token-input.component.spec.ts
  src/glass/src/app/shared/components/token-input/token-input.component.ts
  src/glass/src/app/shared/components/widget/widget.component.scss
  src/glass/src/app/shared/directives/autofocus.directive.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
  src/glass/src/app/shared/shared.module.ts
  src/glass/src/styles.scss
Labels: glass, cleanup

#663 glass: increase budgets
  src/glass/angular.json
Labels: bug, glass

#664 glass: Cleanup SCSS code
  src/glass/angular.json
  src/glass/cypress/integration/dive_into_aquarium.js
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/app.component.ts
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
  src/glass/src/app/core/layouts/installer-layout/installer-layout.component.scss
  src/glass/src/app/core/layouts/main-layout/main-layout.component.html
  src/glass/src/app/core/layouts/main-layout/main-layout.component.scss
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.scss
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/pages/login-page/login-page.component.scss
  src/glass/src/app/pages/not-found-page/not-found-page.component.html
  src/glass/src/app/pages/not-found-page/not-found-page.component.scss
  src/glass/src/app/shared/components/alert-panel/alert-panel.component.scss
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.scss
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/enum/icon.enum.ts
  src/glass/src/assets/fonts/lato-v17-latin-700.eot
  src/glass/src/assets/fonts/lato-v17-latin-700.svg
  src/glass/src/assets/fonts/lato-v17-latin-700.ttf
  src/glass/src/assets/fonts/lato-v17-latin-700.woff
  src/glass/src/assets/fonts/lato-v17-latin-700.woff2
  src/glass/src/assets/fonts/lato-v17-latin-regular.eot
  src/glass/src/assets/fonts/lato-v17-latin-regular.svg
  src/glass/src/assets/fonts/lato-v17-latin-regular.ttf
  src/glass/src/assets/fonts/lato-v17-latin-regular.woff
  src/glass/src/assets/fonts/lato-v17-latin-regular.woff2
  src/glass/src/assets/fonts/poppins-v15-latin-300.eot
  src/glass/src/assets/fonts/poppins-v15-latin-300.svg
  src/glass/src/assets/fonts/poppins-v15-latin-300.ttf
  src/glass/src/assets/fonts/poppins-v15-latin-300.woff
  src/glass/src/assets/fonts/poppins-v15-latin-300.woff2
  src/glass/src/assets/fonts/poppins-v15-latin-500.eot
  src/glass/src/assets/fonts/poppins-v15-latin-500.svg
  src/glass/src/assets/fonts/poppins-v15-latin-500.ttf
  src/glass/src/assets/fonts/poppins-v15-latin-500.woff
  src/glass/src/assets/fonts/poppins-v15-latin-500.woff2
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.eot
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.svg
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.ttf
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.woff
  src/glass/src/assets/fonts/roboto-mono-v12-latin-regular.woff2
  src/glass/src/scss/blockui.scss
  src/glass/src/scss/bootstrap.scss
  src/glass/src/scss/defaults/_colors.scss
  src/glass/src/scss/defaults/_fonts.scss
  src/glass/src/scss/defaults/_variables.scss
  src/glass/src/scss/ngx-charts.scss
  src/glass/src/scss/ngx-toastr.scss
  src/glass/src/styles.scss
  src/glass/tsconfig.json
Labels: glass, cleanup

#666 glass: Fix E2E test.
  src/glass/cypress/integration/dive_into_aquarium.js
  src/glass/cypress/support/index.ts
Labels: bug, glass

#667 glass: Use primary color in progress bar
  src/glass/src/app/pages/hosts-page/hosts-page.component.html
  src/glass/src/app/pages/users-page/users-page.component.html
  src/glass/src/app/shared/components/widget/widget.component.html
Labels: glass, cleanup

#669 Glass: Various improvements
  src/glass/.gitignore
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/app/pages/login-page/login-page.component.scss
  src/glass/src/app/pages/not-found-page/not-found-page.component.scss
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.ts
Labels: glass, cleanup

#670 glass: make cypress wait for elements to be visible
  src/glass/cypress/integration/dive_into_aquarium.js
Labels: glass

#673 glass: Upgrade jest
  src/glass/angular.json
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.spec.ts
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.spec.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.spec.ts
  src/glass/src/app/pages/login-page/login-page.component.spec.ts
  src/glass/src/app/pages/users-page/users-page.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/services/notification.service.spec.ts
  src/glass/src/app/shared/services/status-route-guard.service.spec.ts
  src/glass/src/app/testing.module.ts
Labels: glass, cleanup

#671 glass: make cypress wait for button before clicking
  src/glass/cypress/support/index.ts
Labels: bug, glass

#676 gravel/glass: Rename API endpoint
  src/aquarium.py
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/services/api/user.service.spec.ts
  src/glass/src/app/shared/services/api/users.service.ts
  src/gravel/api/users.py
Labels: glass, gravel, cleanup

#677 glass: Add select form field
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
Labels: enhancement, glass

#678 glass: Add support for dividers in datatable action menus
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/models/datatable-action-item.type.ts
Labels: enhancement, glass

#650 deps: Fix potential dependency issues on dev machines
  .gitignore
  .wasser/config.yaml
  doc/from-zero-to-hero.md
  src/requirements.txt
  tools/requirements.txt
  tools/run_aquarium.sh
  tools/setup-dev.sh
Labels: documentation

#680 gravel: Raise exception if token is missing
  src/gravel/api/__init__.py
Labels: enhancement, gravel

#674 glass: Various improvements
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/services/api/auth.service.ts
Labels: enhancement, glass, cleanup

#679 glass: Fix the color that is used to block the UI
  src/glass/src/scss/blockui.scss
Labels: bug, glass

#682 glass: fix languages dropdown list
  src/glass/src/app/shared/components/language-button/language-button.component.html
Labels: bug, glass

#687 glass: Use echarts in system information widget
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.html
  src/glass/src/app/i18n.helper.ts
  src/glass/src/app/shared/components/widget/widget.component.html
  src/glass/src/app/shared/components/widget/widget.component.ts
Labels: glass

#686 gravel: fix typo in /nodes/deployment/start API docs
  src/gravel/api/nodes.py
Labels: gravel, cleanup
