Repository aquarist-labs/aquarium, pull requests merged in 2021-08, with the labels that each got.

#615 [tools] Add authentication support to smoke tests
  tools/aqrtest.py
  tools/libaqr/http.py
Labels: enhancement, tooling

#625 glass: Remove all 'Services' related code
  src/glass/cypress/integration/dive_into_aquarium.js
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-utilization-dashboard-widget/services-utilization-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-utilization-dashboard-widget/services-utilization-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-utilization-dashboard-widget/services-utilization-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-utilization-dashboard-widget/services-utilization-dashboard-widget.component.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.html
  src/glass/src/app/core/modals/file-service/file-service-modal.component.scss
  src/glass/src/app/core/modals/file-service/file-service-modal.component.spec.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-wizard.module.ts
  src/glass/src/app/pages/install-wizard/steps/services-step/services-step.component.html
  src/glass/src/app/pages/install-wizard/steps/services-step/services-step.component.scss
  src/glass/src/app/pages/install-wizard/steps/services-step/services-step.component.spec.ts
  src/glass/src/app/pages/install-wizard/steps/services-step/services-step.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/services-page/services-page.component.html
  src/glass/src/app/pages/services-page/services-page.component.scss
  src/glass/src/app/pages/services-page/services-page.component.spec.ts
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/services/api/cephfs.service.spec.ts
  src/glass/src/app/shared/services/api/cephfs.service.ts
  src/glass/src/app/shared/services/api/services.service.spec.ts
  src/glass/src/app/shared/services/api/services.service.ts
  src/glass/src/app/shared/services/dialog.service.ts
Labels: glass, cleanup

#626 tools: Add the missing --port option to the usage/help text
  tools/run_aquarium.sh
Labels: bug, tooling

#627 Add support for isort
  src/aquarium.py
  src/gravel/api/__init__.py
  src/gravel/api/auth.py
  src/gravel/api/devices.py
  src/gravel/api/local.py
  src/gravel/api/nfs.py
  src/gravel/api/nodes.py
  src/gravel/api/orch.py
  src/gravel/api/services.py
  src/gravel/api/status.py
  src/gravel/api/user.py
  src/gravel/cephadm/cephadm.py
  src/gravel/cephadm/models.py
  src/gravel/controllers/auth.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/kv.py
  src/gravel/controllers/nodes/bootstrap.py
  src/gravel/controllers/nodes/conn.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/disks.py
  src/gravel/controllers/nodes/etcd.py
  src/gravel/controllers/nodes/messages.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/ntp.py
  src/gravel/controllers/nodes/systemdisk.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/cephfs.py
  src/gravel/controllers/orch/models.py
  src/gravel/controllers/orch/nfs.py
  src/gravel/controllers/orch/orchestrator.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/inventory_sub.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
  src/gravel/controllers/utils.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/cephadm/test_cephadm.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/nodes/test_disks.py
  src/gravel/tests/unit/controllers/nodes/test_etcd.py
  src/gravel/tests/unit/controllers/nodes/test_host.py
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
  src/gravel/tests/unit/controllers/nodes/test_systemdisk.py
  src/gravel/tests/unit/controllers/orch/test_ceph.py
  src/gravel/tests/unit/controllers/orch/test_orchestrator.py
  src/gravel/tests/unit/controllers/resources/test_inventory.py
  src/gravel/tests/unit/controllers/test_auth.py
  src/gravel/tests/unit/controllers/test_config.py
  src/gravel/tests/unit/controllers/test_gstate.py
  src/gravel/tests/unit/controllers/test_services.py
  src/gravel/tests/unit/controllers/test_utils.py
  src/gravel/typings/aetcd3/client.pyi
  src/gravel/typings/aetcd3/locks.pyi
  src/pyproject.toml
  src/tox.ini
Labels: gravel

#622 tools: Use npm ci in setup-dev.sh
  .github/workflows/glass-unit-tests.yml
  src/glass/package-lock.json
  src/glass/package.json
  tools/setup-dev.sh
Labels: glass, cleanup, CI

#630 tools: rename aqrdev to aqua
  .wasser/config-ubuntu.yaml
  .wasser/config.yaml
  doc/from-zero-to-hero.md
  doc/project-plan/testing-plan.rst
  tools/aqua
  tools/aquatest.py
  tools/libaqua/__init__.py
  tools/libaqua/__main__.py
  tools/libaqua/cli.py
  tools/libaqua/deployment.py
  tools/libaqua/errors.py
  tools/libaqua/http.py
  tools/libaqua/images.py
  tools/libaqua/misc.py
  tools/libaqua/runner.py
  tools/libaqua/suites.py
  tools/libaqua/testing.py
  tools/libaqua/vagrant.py
Labels: documentation, tooling

#634 glass: Switch UI library from Angular Material to Bootstrap [Part 2/x]
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-wizard-page.scss
  src/glass/src/app/pages/install-wizard/models/install-wizard-context.type.ts
  src/glass/src/app/pages/install-wizard/steps/hostname-step/hostname-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/ntp-step/ntp-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/registration-step/registration-step.component.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
Labels: glass, cleanup

#635 glass: Switch UI library from Angular Material to Bootstrap [Part 3/x]
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/steps/hostname-step/hostname-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/ntp-step/ntp-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/registration-step/registration-step.component.ts
  src/glass/src/app/pages/login-page/login-page.component.html
  src/glass/src/app/pages/login-page/login-page.component.scss
  src/glass/src/app/pages/login-page/login-page.component.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
  src/glass/src/scss/bootstrap.scss
Labels: glass, cleanup
