Repository aquarist-labs/aquarium, pull requests merged in 2021-11, with the labels that each got.

#736 aquarium: add pyright config
  pyrightconfig.json
Labels: tooling

#734 aquarium: check disks requirements
  src/aquarium.py
  src/glass/cypress/fixtures/node_qualified.json
  src/glass/src/app/pages/install-welcome-page/install-welcome-page.component.html
  src/glass/src/app/pages/install-welcome-page/install-welcome-page.component.ts
  src/glass/src/app/shared/services/api/local.service.ts
  src/gravel/api/local.py
  src/gravel/api/orch.py
  src/gravel/api/status.py
  src/gravel/controllers/ceph/__init__.py
  src/gravel/controllers/ceph/ceph.py
  src/gravel/controllers/ceph/cephfs.py
  src/gravel/controllers/ceph/models.py
  src/gravel/controllers/ceph/orchestrator.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/requirements.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/resources/storage.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/ceph/data/device_ls_not_available.json
  src/gravel/tests/unit/controllers/ceph/data/mon_df_raw.json
  src/gravel/tests/unit/controllers/ceph/data/mon_osdmap_raw.json
  src/gravel/tests/unit/controllers/ceph/test_ceph.py
  src/gravel/tests/unit/controllers/ceph/test_orchestrator.py
  src/gravel/tests/unit/controllers/nodes/data/disks_local_nodeinfo.json
  src/gravel/tests/unit/controllers/nodes/data/disks_local_nodeinfo_with_ssd.json
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/nodes/test_local.py
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
  src/gravel/tests/unit/controllers/nodes/test_requirements.py
Labels: enhancement, glass, gravel

#735 gravel: allow passing custom registry as env vars
  src/gravel/controllers/config.py
  src/gravel/tests/unit/controllers/test_config.py
Labels: enhancement, gravel

#737 tools: Fix package prereqs in builder container
  images/builder/Dockerfile
Labels: bug

#743 glass: Update the echart widgets the correct way
  src/glass/src/app/core/dashboard/widgets/device-utilization-dashboard-widget/device-utilization-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/device-utilization-dashboard-widget/device-utilization-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/memory-dashboard-widget/memory-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/memory-dashboard-widget/memory-dashboard-widget.component.ts
Labels: glass, cleanup

#744 glass: Add a shorthand in the topbar to change the user password
  src/glass/src/app/core/top-bar/top-bar.component.html
Labels: enhancement, glass

#746 gravel: Ignore gravel/cephadm in tox
  src/tox.ini
Labels: enhancement, gravel

#742 gravel: check registry before deployment
  src/gravel/controllers/containers.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/test_containers.py
  src/requirements-test.txt
  src/requirements.txt
Labels: enhancement, gravel

#741 glass: Format size column properly
  src/glass/src/app/pages/storage-devices-page/storage-devices-page.component.ts
Labels: enhancement, glass

#749 glass: Rename datatable column property 'unsortable' to 'sortable'
  src/glass/src/app/pages/install-welcome-page/install-welcome-page.component.ts
  src/glass/src/app/pages/network-page/network-page.component.ts
  src/glass/src/app/pages/users-page/users-page.component.ts
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/models/datatable-column.type.ts
Labels: glass, cleanup

#747 glass: Update Angular and various other NPM packages
  src/glass/package-lock.json
  src/glass/package.json
Labels: enhancement, glass

#750 glass: Set correct width of the datatable action column
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
Labels: glass, cleanup

#739 tools: Fix Kiwi issue when using a container to build the Vagrant image
  images/builder/Dockerfile
Labels: bug, tooling

#745 gravel/glass: Reboot and shutdown the system
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/shutdown-page/shutdown-page.component.html
  src/glass/src/app/pages/shutdown-page/shutdown-page.component.scss
  src/glass/src/app/pages/shutdown-page/shutdown-page.component.spec.ts
  src/glass/src/app/pages/shutdown-page/shutdown-page.component.ts
  src/glass/src/app/shared/components/dialog/dialog.component.ts
  src/glass/src/app/shared/services/api/local.service.ts
  src/gravel/api/local.py
Labels: feature, glass, gravel

#748 gravel: add network controller and API endpoints
  images/aquarium/config.xml
  src/aquarium.py
  src/gravel/api/local.py
  src/gravel/api/nodes.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/network.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/network/data/config
  src/gravel/tests/unit/controllers/network/data/ifcfg-eth0
  src/gravel/tests/unit/controllers/network/test_network.py
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
  src/requirements-test.txt
  src/requirements.txt
Labels: feature, gravel

#752 gravel: clean up systemdisk
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/systemdisk.py
  src/gravel/tests/unit/controllers/nodes/data/mounts_silly.raw
  src/gravel/tests/unit/controllers/nodes/test_systemdisk.py
Labels: gravel, cleanup

#755 image: fix microos config.xml according to upstream
  images/aquarium/config.sh
Labels: images
