Repository aquarist-labs/aquarium, pull requests merged in 2021-06, with the labels that each got.

#525 gravel/glass: rename 'reservation' to 'allocation', reflect change on widget
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/allocations-dashboard-widget/allocations-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.html
  src/glass/src/app/core/modals/file-service/file-service-modal.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/pages/install-wizard/steps/services-step/services-step.component.html
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/services/api/services.service.ts
  src/gravel/controllers/services.py
  src/gravel/tests/unit/controllers/test_services.py
Labels: aqr: Must Have, enhancement, glass, gravel, milestone: required, prio: medium

#526 gravel: cephadm/bootstrap: parser expects line before EOF
  src/gravel/cephadm/cephadm.py
Labels: bug, gravel, prio: high

#518 gravel: create system disk on initial deployment
  images/microOS/root/etc/containers/storage.conf
  src/gravel/api/nodes.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/disks.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/systemdisk.py
  src/gravel/controllers/utils.py
  src/gravel/tests/unit/controllers/nodes/data/disks_local_inventory.json
  src/gravel/tests/unit/controllers/nodes/data/disks_local_inventory_with_ssd.json
  src/gravel/tests/unit/controllers/nodes/data/disks_single_volume.json
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/nodes/test_disks.py
Labels: aqr: Must Have, feature, gravel, prio: high

#521 image: move image from 'microOS/' to 'aquarium'
  images/README.md
  images/aquarium/aquarium_root/etc/sudoers.d/aquarium
  images/aquarium/config.sh
  images/aquarium/config.xml
  images/aquarium/disk.sh
  images/aquarium/root/etc/motd.template
  images/aquarium/root/etc/ssh/sshd_config.append
  images/aquarium/root/etc/sysconfig/network/ifcfg-eth0
  images/aquarium/root/usr/bin/update_motd.sh
  images/aquarium/root/usr/lib/issue.d/10-0S
  images/aquarium/root/usr/lib/systemd/system/aquarium.service
  images/aquarium/root/usr/lib/systemd/system/update_motd.service
  tools/build-image.sh
Labels: cleanup, documentation, images

#531 images: move stray containers config file to right location
  images/aquarium/root/etc/containers/storage.conf
Labels: bug, images, prio: high

#546 glass/gravel: expose ceph-volume device availability
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.html
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.ts
  src/glass/src/styles.scss
Labels: feature, glass

#524 glass: Fix error state issue in token control
  src/glass/src/app/shared/components/token-input/token-input.component.ts
Labels: bug, glass

#527 glass: allow entering service's required capacity with keyboard, in addition to slider
  src/glass/src/app/core/modals/file-service/file-service-modal.component.html
  src/glass/src/app/core/modals/file-service/file-service-modal.component.spec.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.ts
  src/glass/src/app/functions.helper.spec.ts
  src/glass/src/app/functions.helper.ts
  src/glass/src/app/i18n.helper.ts
Labels: enhancement, glass

#528 glass: Remove duplicate subtitle in forms.
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
Labels: bug, glass

#530 tools: Fix bug when building Glass for images, CI, ...
  Makefile
  tools/setup-dev.sh
Labels: all-review, bug, tooling

#550 glass: Display error notifications only once
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
Labels: bug, cleanup, glass

#534 glass: show disk solution during installer
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.html
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/gravel/api/nodes.py
Labels: enhancement, glass, gravel, prio: medium

#552 gravel: do not allow insecure global id in Ceph
  src/gravel/controllers/nodes/mgr.py
Labels: bug, gravel, prio: high

#551 image: fix dependencies at dev versions
  images/aquarium/config.sh
  images/aquarium/config.xml
Labels: bug, images, prio: high

#557 gravel: tests: test mgr postbootstrap config
  src/gravel/controllers/nodes/mgr.py
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
Labels: enhancement, gravel

#548 gravel: handle systemdisk on boot
  Makefile
  doc/dev/gravel/systemd-boot.md
  images/aquarium/config.sh
  images/aquarium/root/usr/lib/systemd/system/aquarium-boot.service
  src/boot/aqrbootsetup.sh
  src/gravel/controllers/nodes/etcd.py
  src/gravel/controllers/nodes/mgr.py
Labels: aqr: Must Have, documentation, enhancement, gravel

#564 tools: Fix typo in MOTD (message of the day) template
  images/aquarium/root/etc/motd.template
Labels: cleanup

#566 images: Remove Vagrant box
  images/microOS_build_env/Dockerfile
  images/microOS_build_env/README.md
Labels: documentation, images

#558 gravel/glass: NTP configuration follower nodes
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/shared/services/api/cephfs.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/glass/src/app/shared/services/api/orch.service.spec.ts
  src/glass/src/app/shared/services/api/orch.service.ts
  src/gravel/api/nodes.py
  src/gravel/api/orch.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/errors.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/ntp.py
  src/gravel/controllers/orch/system.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
Labels: WIP, feature, glass, gravel

#556 glass: Add 'autofocus' directive
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/steps/hostname-step/hostname-step.component.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/directives/autofocus.directive.spec.ts
  src/glass/src/app/shared/directives/autofocus.directive.ts
  src/glass/src/app/shared/directives/directives.module.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
  src/glass/src/app/shared/shared.module.ts
Labels: feature, glass

#568 images/aquarium: add password to vagrant user
  images/aquarium/config.sh
  images/aquarium/config.xml
Labels: bug, images, prio: high

#569 glass: Add missing en_US.json file
  src/glass/src/assets/i18n/en_US.json
Labels: bug, glass

#570 gravel: setting hostname must update state
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/glass/src/app/shared/services/api/orch.service.ts
  src/gravel/api/nodes.py
  src/gravel/api/orch.py
  src/gravel/controllers/nodes/host.py
  src/gravel/controllers/nodes/mgr.py
Labels: bug, glass, gravel, prio: high

#579 glass: fix 2 minor linting issues
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/glass/src/app/shared/services/api/orch.service.ts
Labels: cleanup, glass

#577 glass: add devices step to join wizzard
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.ts
Labels: aqr: Must Have, enhancement, glass

#393 tools: move run_aquarium.sh to tools
  doc/from-zero-to-hacking.md
  tools/run_aquarium.sh
Labels: WIP, documentation

#581 images: fix network not starting on boot
  images/aquarium/config.xml
Labels: bug, images, prio: high

#582 image: cleanup, drop ignition and combustion
  images/aquarium/config.xml
Labels: cleanup, images

#575 gravel: pass hostname as parameters to deploy & join (part 1)
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/gravel/api/nodes.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
Labels: enhancement, glass, gravel

#585 images: turn 'self-install' into a ramdisk
  images/aquarium/config.xml
Labels: enhancement, images

#583 docs: Add in draft testing plan
  doc/project-plan/testing-plan.rst
Labels: documentation, help wanted, tooling

#580 gravel: support system disk on joining node, assimilate devices individually (part 2)
  images/aquarium/config.xml
  src/boot/aqrbootsetup.sh
  src/gravel/api/orch.py
  src/gravel/api/services.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/systemdisk.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/orchestrator.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/orch/data/device_ls_not_available.json
  src/gravel/tests/unit/controllers/orch/test_orchestrator.py
  src/requirements-test.txt
  src/requirements.txt
Labels: aqr: Must Have, enhancement, glass, gravel

#587 aquarium: address multiple issues when running on real hardware
  images/aquarium/config.xml
  images/aquarium/root/etc/sysconfig/network/ifcfg-eth0
  images/aquarium/root/etc/udev/rules.d/10-aqr-nics.rules
  images/aquarium/root/usr/lib/systemd/system/aquarium-boot.service
  src/boot/add-nic.sh
  src/boot/aqrbootsetup.sh
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/orch/orchestrator.py
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
Labels: aqr: Must Have, enhancement, gravel, images, prio: high

#586 doc: add CLI access
  doc/from-zero-to-hacking.md
Labels: documentation
