Repository aquarist-labs/aquarium, pull requests merged in 2021-04, with the labels that each got.

#365 glass: Only show widgets with graphs
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
Labels: cleanup, glass

#364 glass: Performance widget
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/shared/services/api/status.service.spec.ts
  src/glass/src/app/shared/services/api/status.service.ts
Labels: feature, glass

#371 glass: Performance dashboard widget cleanup
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.ts
Labels: enhancement, glass

#358 gravel: endpoints to manage nfs exports
  src/gravel/api/nfs.py
  src/gravel/controllers/orch/nfs.py
Labels: gravel

#367 gravel: cephadm: lvs may not have osd info
  src/gravel/cephadm/models.py
  src/gravel/controllers/resources/devices.py
Labels: Required, bug, gravel

#372 glass: Rename CSS class name
  src/glass/src/styles.scss
Labels: bug, glass

#366 gravel: ctrl/services: add NFS service create
  src/gravel/controllers/services.py
Labels: gravel

#376 glass: Fix ngx-charts library locally
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/patches/@swimlane+ngx-charts+17.0.1.patch
Labels: bug, glass

#375 glass: fix cephfs dialog issues
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.html
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.ts
  src/glass/src/app/pages/services-page/services-page.component.html
Labels: cleanup, glass

#374 gravel: fix ctrl/status and deduplicate some code
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/resources/status.py
Labels: Required, bug, gravel

#377 glass: Fix dashboard widgets issue related to valueFormatting
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/performance-dashboard-widget/performance-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
Labels: bug, glass

#378 glass: add nfs service
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/modals/nfs/nfs-modal.component.html
  src/glass/src/app/core/modals/nfs/nfs-modal.component.scss
  src/glass/src/app/core/modals/nfs/nfs-modal.component.spec.ts
  src/glass/src/app/core/modals/nfs/nfs-modal.component.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/pages/services-page/services-page.component.html
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/services/dialog.service.ts
Labels: feature, glass

#379 glass: Display cephfs auth credentials
  src/glass/.htmllintrc
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.scss
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.spec.ts
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.ts
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.ts
  src/glass/src/app/shared/models/datatable-action-item.type.ts
  src/glass/src/app/shared/models/datatable-data.type.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
  src/glass/src/app/shared/services/api/cephfs.service.spec.ts
  src/glass/src/app/shared/services/api/cephfs.service.ts
  src/glass/src/app/shared/services/dialog.service.ts
Labels: enhancement, glass

#392 .github: add pull request template
  .github/pull_request_template.md
Labels: CI

#385 glass: Enhance declarative form modal
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
Labels: enhancement, glass

#380 doc: Adding bug triage details doc
  doc/bug-triage.rst
Labels: all-review, documentation

#394 glass: Display CephFS mount command
  src/glass/src/app/pages/hosts-page/hosts-page.component.html
  src/glass/src/app/pages/hosts-page/hosts-page.component.spec.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/services-page/services-page.component.html
  src/glass/src/app/pages/services-page/services-page.component.spec.ts
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
Labels: enhancement, glass

#395 glass: Add NFS creation support to dashboard widget
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
Labels: enhancement, glass

#396 glass: Do some cleanup
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.html
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.html
  src/glass/src/app/core/modals/nfs/nfs-modal.component.html
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/models/declarative-form-config.type.ts
  src/glass/src/styles.scss
Labels: cleanup, enhancement, glass

#398 glass: Add map pipe
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/pipes/map.pipe.spec.ts
  src/glass/src/app/shared/pipes/map.pipe.ts
  src/glass/src/app/shared/pipes/pipes.module.ts
  src/glass/src/app/shared/pipes/redundancy-level.pipe.spec.ts
  src/glass/src/app/shared/pipes/relative-date.pipe.spec.ts
  src/glass/src/app/shared/pipes/sort-by.pipe.spec.ts
  src/glass/src/app/shared/shared.module.ts
Labels: enhancement, glass

#397 glass: service capacity gets weird on 0.0% occupation
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.ts
Labels: bug, glass

#402 glass: Fix validator issue in CephFS and NFS modal dialogs
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.html
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.ts
  src/glass/src/app/core/modals/nfs/nfs-modal.component.html
  src/glass/src/app/core/modals/nfs/nfs-modal.component.ts
Labels: bug, glass

#401 glass: Add unit test for services capacity widget
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.ts
Labels: enhancement, glass

#400 Dump aquarium service logs before checking status
  .wasser/config.yaml
Labels: CI, enhancement

#382 tools: Add Makefile for building dist tarball
  .gitignore
  Makefile
  images/microOS/config.xml
  tools/build-image.sh
  tools/setup-dev.sh
Labels: feature, images, tooling

#384 doc: Mention `jenkins run ...` in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: CI, documentation

#399 glass: add unique service name validation
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.html
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.ts
  src/glass/src/app/core/modals/nfs/nfs-modal.component.html
  src/glass/src/app/core/modals/nfs/nfs-modal.component.ts
  src/glass/src/app/shared/forms/validators.spec.ts
  src/glass/src/app/shared/forms/validators.ts
  src/glass/src/app/shared/services/api/services.service.ts
  src/gravel/api/services.py
Labels: bug, glass, gravel

#406 glass: Change endpoint name to get a service by name
  src/glass/src/app/shared/services/api/services.service.spec.ts
  src/glass/src/app/shared/services/api/services.service.ts
  src/gravel/api/services.py
Labels: bug, glass, gravel

#403 gravel: add etcd
  images/microOS/config.sh
  images/microOS/config.xml
  src/aquarium.py
  src/gravel/api/services.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/kv.py
  src/gravel/controllers/nodes/messages.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/services.py
  src/gravel/typings/aetcd3/__init__.pyi
  src/gravel/typings/aetcd3/client.pyi
  src/gravel/typings/aetcd3/events.pyi
  src/gravel/typings/aetcd3/locks.pyi
  src/mypy.ini
  src/requirements.txt
Labels: Required, feature, gravel

#405 tools: setup-dev.sh: check for python >= 3.8
  tools/setup-dev.sh
Labels: Required, tooling

#412 glass: Fix CommonJS warning
  src/glass/angular.json
Labels: cleanup, glass

#414 gravel: remove cruft, move kvstore to gstate
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/services.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/test_gstate.py
Labels: cleanup, gravel

#415 glass: update background image paths
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.scss
  src/glass/src/app/pages/deployment-page/deployment-page.component.scss
  src/glass/src/app/pages/install-config-page/install-config-page.component.scss
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.scss
  src/glass/src/app/pages/not-found-page/not-found-page.component.scss
  src/glass/src/app/pages/register-page/register-page.component.scss
  src/glass/src/app/pages/welcome-page/welcome-page.component.scss
Labels: bug, glass

#408 cli: Add missing package to Docker environment
  images/microOS_build_env/Dockerfile
Labels: bug, tooling

#419 tools: make kiwi image build failures a bit more obvious
  tools/build-image.sh
Labels: tooling

#420 glass: Make sure all subscriptions are handled correctly
  src/glass/src/app/shared/components/widget/widget.component.ts
Labels: cleanup, glass

#428 glass: Breadcrumbs
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.html
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.scss
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.spec.ts
  src/glass/src/app/core/navigation-bar/breadcrumbs/breadcrumbs.component.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.ts
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.spec.ts
  src/glass/src/defaults.scss
Labels: feature, glass

#429 tools: Switch Docker container OS to Tumbleweed
  images/microOS_build_env/Dockerfile
Labels: enhancement, tooling

#430 Adjust Milestone 3 date
  doc/project-plan/project-plan.rst
Labels: documentation

#417 tools/setup-dev.sh add pyenv support
  tools/setup-dev.sh
Labels: gravel, tooling

#431 tools/setup-dev.sh: remove python3-rados dependency
  tools/setup-dev.sh
Labels: gravel, tooling

#435 requirements: use aquarist-labs's aetcd3 fork
  images/microOS/config.sh
  src/requirements.txt
Labels: Required, enhancement, gravel, tooling

#437 tools/aqrdev: rework a bunch of little things, fix some bugs
  tests/vagrant/templates/Vagrantfile.tmpl
  tools/aqrdev
Labels: tooling

#436 gravel: make node join work properly with etcd, drop node roles
  .github/workflows/tox.yml
  images/microOS/config.sh
  src/gravel/controllers/nodes/mgr.py
  src/gravel/typings/aetcd3/client.pyi
  src/gravel/typings/aetcd3/members.pyi
  src/mypy.ini
  src/requirements.txt
Labels: CI, Required, bug, enhancement, gravel

#439 tools/aqrdev: drop python3.8 specific things
  tools/aqrdev
Labels: bug, tooling

#438 glass: Refactor dashboard implementation, use masonry style
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/shared/components/widget/widget.component.scss
Labels: enhancement, glass

#427 glass: Copy to clipboard does not work in prod build
  src/glass/src/app/core/modals/declarative-form/declarative-form-modal.component.ts
Labels: bug, glass

#441 gravel: pass bool to `yes_i_really_mean_it`
  src/gravel/controllers/orch/ceph.py
Labels: bug, gravel

#433 run_aquarium.sh: default to running with system deps
  run_aquarium.sh
Labels: tooling

#442 glass: Add help button to top-bar
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/styles.scss
Labels: enhancement, glass

#444 glass: Update logo images
  src/glass/src/favicon.ico
  src/glass/src/favicon.svg
  src/glass/src/favicon_180x180.png
Labels: enhancement, glass

#443 glass: Make order of widgets configurable
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/shared/components/widget/widget.component.html
  src/glass/src/app/shared/components/widget/widget.component.scss
  src/glass/src/app/shared/models/dashboard-widget.model.ts
Labels: feature, glass

#446 glass: Use official website URL
  src/glass/src/app/core/top-bar/top-bar.component.html
Labels: cleanup, glass

#445 glass: Show mount command for NFS services
  src/glass/src/app/pages/services-page/services-page.component.ts
Labels: enhancement, glass

#424 Reduce usage of module level globals
  src/aquarium.py
  src/gravel/api/bootstrap.py
  src/gravel/api/devices.py
  src/gravel/api/local.py
  src/gravel/api/nodes.py
  src/gravel/api/services.py
  src/gravel/api/status.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/cephadm/test_cephadm.py
  src/gravel/tests/unit/controllers/orch/test_ceph.py
  src/gravel/tests/unit/controllers/test_config.py
  src/gravel/tests/unit/controllers/test_gstate.py
  src/gravel/tests/unit/controllers/test_services.py
Labels: WIP, gravel

#447 glass: Update NPM packages
  src/glass/package-lock.json
  src/glass/package.json
Labels: enhancement, glass

#448 glass: refactor `NFS`/`CephFS` components
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.html
  src/glass/src/app/core/modals/file-service/file-service-modal.component.scss
  src/glass/src/app/core/modals/file-service/file-service-modal.component.spec.ts
  src/glass/src/app/core/modals/file-service/file-service-modal.component.ts
  src/glass/src/app/core/modals/nfs/nfs-modal.component.html
  src/glass/src/app/core/modals/nfs/nfs-modal.component.scss
  src/glass/src/app/core/modals/nfs/nfs-modal.component.spec.ts
  src/glass/src/app/core/modals/nfs/nfs-modal.component.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/pages/services-page/services-page.component.html
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/services/dialog.service.ts
Labels: cleanup, glass

#453 tools: add .python-version to .gitignore
  .gitignore
Labels: cleanup, minor, tooling

#354 Rewrite the kiwi without MicroOS and remove non essential parts
  images/microOS/aquarium_root/etc/sudoers.d/aquarium
  images/microOS/config.sh
  images/microOS/config.xml
  images/microOS/root/etc/motd.template
  images/microOS/root/etc/ssh/sshd_config.append
  images/microOS/root/etc/sysconfig/network/ifcfg-eth0
  images/microOS/root/usr/bin/update_motd.sh
  images/microOS/root/usr/lib/issue.d/10-0S
  images/microOS/root/usr/lib/systemd/system/aquarium.service
  images/microOS/root/usr/lib/systemd/system/update_motd.service
  tools/aqrdev
  tools/build-image.sh
  tools/setup-dev.sh
Labels: enhancement, images, tooling

#449 gravel: run etcd within a container
  images/microOS/config.xml
  src/gravel/controllers/config.py
  src/gravel/controllers/nodes/mgr.py
Labels: gravel

#459 gravel: rework, cleanup node deployment
  src/gravel/api/bootstrap.py
  src/gravel/api/local.py
  src/gravel/controllers/config.py
  src/gravel/controllers/errors.py
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/errors.py
  src/gravel/controllers/nodes/etcd.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/resources/status.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/utils.py
Labels: Required, cleanup, gravel
