Repository aquarist-labs/aquarium, pull requests merged in 2021-07, with the labels that each got.

#598 glass: Improve error message.
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
Labels: enhancement, glass

#574 aquarium: reflect reality, license under GPL3
  COPYING
  README.md
Labels: bug, documentation

#584 glass: add cypress initial basic test
  .wasser/config-ubuntu.yaml
  .wasser/config.yaml
  src/glass/cypress.json
  src/glass/cypress/cypress.json
  src/glass/cypress/general/app.e2e-spec.ts
  src/glass/cypress/general/app.po.ts
  src/glass/cypress/integration/dive_into_aquarium.js
  src/glass/cypress/plugins/index.js
  src/glass/cypress/support/index.ts
  src/glass/cypress/tsconfig.json
  src/glass/e2e/protractor.conf.js
  src/glass/e2e/tsconfig.json
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/pages/install-wizard/steps/ntp-step/ntp-step.component.html
  src/glass/src/assets/i18n/aquarium.pot
  src/glass/src/assets/i18n/de_DE.json
  src/glass/src/assets/i18n/de_DE.po
  src/glass/src/assets/i18n/zh_CN.json
  src/glass/src/assets/i18n/zh_CN.po
  src/glass/src/assets/i18n/zh_TW.json
  src/glass/src/assets/i18n/zh_TW.po
  src/glass/tsconfig.json
  tools/setup-dev.sh
Labels: aqr: Must Have, glass, prio: high

#604 doc/f02h: we need to rename "hacking" to "hero"
  README.md
  doc/from-zero-to-hero.md
  doc/spec/hackweek-proposal.md
Labels: documentation

#605 doc: Moving planning docs to archive
  doc/archive/planning-docs/communication-plan.rst
  doc/archive/planning-docs/project-plan.rst
  doc/archive/planning-docs/public-release-plan.rst
Labels: documentation

#606 gravel: increase test coverage
  .gitignore
  src/gravel/controllers/nodes/deployment.py
  src/gravel/controllers/nodes/disks.py
  src/gravel/controllers/nodes/host.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/nodes/systemdisk.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/asyncio.py
  src/gravel/tests/unit/controllers/nodes/data/hosts.raw
  src/gravel/tests/unit/controllers/nodes/data/inventory_basic.json
  src/gravel/tests/unit/controllers/nodes/data/mounts_silly.raw
  src/gravel/tests/unit/controllers/nodes/data/mounts_with_aquarium.raw
  src/gravel/tests/unit/controllers/nodes/data/mounts_without_aquarium.raw
  src/gravel/tests/unit/controllers/nodes/test_deployment.py
  src/gravel/tests/unit/controllers/nodes/test_disks.py
  src/gravel/tests/unit/controllers/nodes/test_etcd.py
  src/gravel/tests/unit/controllers/nodes/test_host.py
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
  src/gravel/tests/unit/controllers/nodes/test_systemdisk.py
  src/gravel/tests/unit/controllers/resources/data/inventory_basic.json
  src/gravel/tests/unit/controllers/resources/test_inventory.py
  src/gravel/tests/unit/controllers/test_services.py
  src/gravel/tests/unit/controllers/test_utils.py
Labels: aqr: Must Have, enhancement, gravel, prio: medium

#609 gravel/tests: nodes/mgr: fix deploy test
  src/gravel/tests/unit/controllers/nodes/test_mgr.py
  src/gravel/tests/unit/controllers/test_auth.py
Labels: aqr: Must Have, bug, gravel, prio: high

#610 gravel/glass: user management - prevent the current user from disabling himself
  src/gravel/api/user.py
  tests/suites/smoke/test_api_user.py
Labels: enhancement, gravel

#612 glass: Update Angular packages.
  src/glass/package-lock.json
  src/glass/package.json
Labels: enhancement, glass

#618 gravel: fix NFS info to reflect Ceph cmd return
  src/gravel/controllers/orch/nfs.py
Labels: bug, gravel
