Repository aquarist-labs/aquarium, pull requests merged in 2021-02, with the labels that each got.

#152 glass: poll for storage devices
  src/glass/angular.json
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
Labels: enhancement, glass

#157 gravel: fix unit test regressions
  src/gravel/__init__.py
  src/gravel/api/status.py
  src/gravel/controllers/bootstrap.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
  src/gravel/controllers/tests/test_config.py
Labels: bug, gravel

#163 gravel: fix regression introduced by 9289ce3
  src/aquarium.py
Labels: Required, bug, gravel

#161 gravel: add env for custom config path
  run_aquarium.sh
  src/gravel/controllers/config.py
  src/gravel/controllers/tests/test_config.py
Labels: gravel

#165 glass: Modify color of link on welcome page
  src/glass/src/app/pages/welcome-page/welcome-page.component.scss
Labels: cleanup, glass

#167 glass: Improve notification service
  .gitignore
  src/glass/.eslintrc.json
  src/glass/src/app/shared/services/api/services.service.spec.ts
  src/glass/src/app/shared/services/notification.service.spec.ts
  src/glass/src/app/shared/services/notification.service.ts
Labels: enhancement, glass

#162 glass: Cleanup cephfs installer page
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.scss
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.spec.ts
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.ts
  src/glass/src/app/pages/deployment-page/choose-devices-modal/choose-devices-modal.component.spec.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/pipes/bytes-to-size.pipe.ts
  src/glass/src/app/shared/services/notification.service.spec.ts
  src/glass/src/app/shared/services/notification.service.ts
  src/gravel/controllers/resources/storage.py
Labels: cleanup, glass

#154 glass: Use inventory
  src/glass/src/app/shared/services/api/orch.service.ts
Labels: Required, enhancement, glass

#156 glass: Services dashboard widget
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/shared/services/api/services.service.spec.ts
Labels: Required, feature, glass

#166 gravel/glass: show real health status on dashboard
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.ts
  src/glass/src/app/shared/services/api/status.service.ts
  src/gravel/api/status.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/cephfs.py
  src/gravel/controllers/orch/models.py
  src/gravel/controllers/orch/orchestrator.py
Labels: Recommended, feature, glass, gravel

#169 glass: Cleanup some issues.
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.ts
  src/glass/src/app/pages/deployment-page/choose-devices-modal/choose-devices-modal.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/services/api/services.service.spec.ts
  src/glass/src/styles.scss
Labels: cleanup, glass

#170 glass: Colorize Create button in CephFS service page
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.scss
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.scss
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.scss
  src/glass/src/app/pages/not-found-page/not-found-page.component.scss
  src/glass/src/app/pages/welcome-page/welcome-page.component.scss
  src/glass/src/app/shared/services/notification.service.spec.ts
  src/glass/src/app/shared/services/notification.service.ts
  src/glass/src/styles.scss
Labels: cleanup, glass

#172 doc: adding extremely important badges to readme
  README.md
Labels: documentation

#178 glass: Block UI while deploying service
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/submit-button/submit-button.component.html
  src/glass/src/app/shared/components/submit-button/submit-button.component.scss
  src/glass/src/app/shared/components/submit-button/submit-button.component.spec.ts
  src/glass/src/app/shared/components/submit-button/submit-button.component.ts
  src/glass/src/app/shared/shared.module.ts
Labels: enhancement, glass

#177 run_aquarium.sh: specify config, debug on cli
  run_aquarium.sh
  src/aquarium.py
Labels: enhancement, gravel

#164 tools: various venv fixes
  run_aquarium.sh
  tools/setup-dev.sh
Labels: Required, enhancement

#182 doc: remove contributors link
  README.md
Labels: documentation

#186 gravel: Add check before calling realpath
  run_aquarium.sh
Labels: bug, cleanup, gravel

#191 tools/build-image.sh: move systemd unit dir
  tools/build-image.sh
Labels: bug

#183 gravel: reduce Ticker boilerplate code
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/tests/test_config.py
Labels: cleanup, gravel

#194 tools/build-image.sh: remove etc dir from tar bundle
  tools/build-image.sh
Labels: bug

#193 gravel: add some tests for global state
  src/gravel/controllers/gstate.py
  src/gravel/controllers/tests/test_gstate.py
Labels: enhancement, gravel

#173 glass: fix bug when fetching devices
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
Labels: bug, glass

#184 glass: Create a reusable dialog component
  src/glass/src/app/pages/deployment-page/choose-devices-modal/choose-devices-modal.component.html
  src/glass/src/app/pages/deployment-page/choose-devices-modal/choose-devices-modal.component.scss
  src/glass/src/app/pages/deployment-page/choose-devices-modal/choose-devices-modal.component.spec.ts
  src/glass/src/app/pages/deployment-page/choose-devices-modal/choose-devices-modal.component.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.scss
  src/glass/src/app/shared/components/dialog/dialog.component.spec.ts
  src/glass/src/app/shared/components/dialog/dialog.component.ts
  src/glass/src/app/shared/components/submit-button/submit-button.component.ts
Labels: enhancement, glass

#201 glass: Use a hash in router URLs
  src/glass/src/app/app-routing.module.ts
Labels: enhancement, glass

#204 doc: comms plan (already approved)
  doc/project-plan/communication-plan.rst
  doc/project-plan/project-plan.rst
  doc/project-plan/public-release-plan.rst
Labels: documentation

#195 gravel: add unit test for config options
  src/gravel/controllers/config.py
  src/gravel/controllers/tests/test_config.py
Labels: bug, gravel

#207 gravel: fixup pytest warning
  src/gravel/controllers/orch/ceph.py
Labels: gravel

#206 gravel: pass the ceph.conf file to the Mgr/Mon class
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/tests/test_ceph.py
Labels: gravel

#196 gravel: test cephadm wrapper
  src/aquarium.py
  src/gravel/cephadm/models.py
  src/gravel/cephadm/tests/outputs.py
  src/gravel/cephadm/tests/test_cephadm.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/tests/outputs.py
  src/gravel/controllers/orch/tests/test_ceph.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
  src/gravel/controllers/tests/test_config.py
  src/gravel/controllers/tests/test_services.py
Labels: enhancement, gravel

#208 run_aquarium.sh: allow running with system deps
  run_aquarium.sh
Labels: bug, cleanup

#211 tools: return exit code from kiwi-ng
  tools/build-image.sh
Labels: bug

#213 tools/setup-dev: btrfsprogs are needed for kiwi image
  tools/setup-dev.sh
Labels: bug

#189 tools: add error_exit and usage_error_exit
  tools/build-image.sh
Labels: cleanup

#214 doc: some minor doc tweaks
  README.md
  doc/project-plan/project-plan.rst
  doc/project-plan/public-release-plan.rst
Labels: documentation

#212 glass: Show real data in capacity widget
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.spec.ts
  src/glass/src/app/shared/services/api/services.service.ts
  src/glass/src/app/shared/shared.module.ts
  src/glass/src/styles.scss
Labels: glass

#216 glass: Add dashboard widget to display system facts
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.scss
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/shared/pipes/relative-date.pipe.spec.ts
  src/glass/src/app/shared/pipes/relative-date.pipe.ts
  src/glass/src/app/shared/services/api/orch.service.spec.ts
  src/glass/src/app/shared/services/api/orch.service.ts
  src/glass/src/app/shared/shared.module.ts
  src/glass/src/defaults.scss
  src/glass/src/styles.scss
Labels: enhancement, glass

#197 glass: add poll service
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.spec.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/services/poll.service.spec.ts
  src/glass/src/app/shared/services/poll.service.ts
Labels: enhancement, glass

#219 doc: adjusting milestone dates
  doc/project-plan/communication-plan.rst
  doc/project-plan/project-plan.rst
  doc/project-plan/public-release-plan.rst
Labels: documentation
