Repository aquarist-labs/aquarium, pull requests merged in 2021-03, with the labels that each got.

#222 glass: Add a host dashboard widget
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/abstract-dashboard-widget.ts
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/shared/services/api/orch.service.ts
  src/gravel/api/orch.py
Labels: feature, glass, gravel

#227 glass: dashboard: make cpu load a percentage
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
Labels: glass

#231 glass: Fix route guard
  src/glass/src/app/shared/services/status-route-guard.service.ts
Labels: bug, glass

#228 glass: Update NPM packages
  src/glass/package-lock.json
  src/glass/package.json
Labels: enhancement, glass

#229 glass: add basic sidenav
  src/glass/src/app/core/navigation-bar/navigation-bar.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar.component.spec.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/defaults.scss
  src/glass/src/styles.scss
Labels: feature, glass

#232 gravel: cephfs create: ignore output from mgr call
  src/gravel/controllers/orch/cephfs.py
Labels: Required, bug, gravel

#215 doc: update getting started guide and process
  doc/from-zero-to-hacking.md
  src/requirements.txt
  tools/setup-dev.sh
Labels: documentation

#226 gravel/glass: mark deployment ready once we finish deploying services
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/services/api/bootstrap.service.ts
  src/gravel/api/bootstrap.py
  src/gravel/controllers/bootstrap.py
Labels: bug, glass, gravel

#225 gravel: initial support for node communication over websockets
  src/aquarium.py
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/shared/services/api/bootstrap.service.ts
  src/glass/src/app/shared/services/api/status.service.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
  src/gravel/api/nodes.py
  src/gravel/controllers/bootstrap.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes.py
  src/requirements.txt
Labels: Required, feature, glass, gravel

#239 glass: Fix Angular warning message
  src/glass/angular.json
Labels: enhancement, glass

#240 glass: Change icons
  src/glass/src/app/core/navigation-bar/navigation-bar.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
Labels: enhancement, glass

#244 Adapt unit test to previous code changes.
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.spec.ts
Labels: bug, glass

#241 gravel: refactor service module unittests
  src/gravel/controllers/tests/test_services.py
Labels: cleanup, gravel

#247 doc: prefer Fixes: over Closes: in commit messages
  CONTRIBUTING.md
Labels: documentation

#233 glass: Basic support of i18n
  doc/i18n.md
  src/glass/.tx/config
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/app.module.ts
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.html
  src/glass/src/app/core/layouts/main-layout/main-layout.component.spec.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar.component.spec.ts
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.spec.ts
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/app/i18n.helper.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.html
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.spec.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.spec.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.spec.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.html
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.spec.ts
  src/glass/src/app/pages/not-found-page/not-found-page.component.html
  src/glass/src/app/pages/not-found-page/not-found-page.component.spec.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/welcome-page/welcome-page.component.html
  src/glass/src/app/pages/welcome-page/welcome-page.component.spec.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/dialog/dialog.component.html
  src/glass/src/app/shared/components/dialog/dialog.component.spec.ts
  src/glass/src/app/shared/components/dialog/dialog.component.ts
  src/glass/src/app/shared/services/api/bootstrap.service.ts
  src/glass/src/app/shared/services/api/status.service.ts
  src/glass/src/app/shared/services/notification.service.ts
  src/glass/src/app/shared/services/poll.service.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
  src/glass/src/assets/i18n/aquarium.pot
  src/glass/src/assets/i18n/de_DE.json
  src/glass/src/assets/i18n/de_DE.po
  src/glass/src/assets/i18n/en_GB.json
Labels: documentation, enhancement, glass

#251 tools/build-image.sh: s/btrfstools/btrfsprogs
  tools/build-image.sh
Labels: cleanup

#257 glass: Adapt unit test to previous code changes
  src/glass/src/app/shared/services/status-route-guard.service.spec.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
Labels: bug, glass

#253 glass: Change button text
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
Labels: enhancement, glass

#255 glass: Introduce a datatable component
  src/glass/src/app/core/dashboard/widgets/abstract-dashboard-widget.ts
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/hosts-dashboard-widget/hosts-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/volumes-dashboard-widget/volumes-dashboard-widget.component.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/datatable/datatable.component.html
  src/glass/src/app/shared/components/datatable/datatable.component.scss
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/models/datatable-column.type.ts
Labels: enhancement, glass

#245 doc: adding reviewer guidelines
  CONTRIBUTING.md
  README.md
Labels: all-review, documentation

#260 Adding Debian10 support for the setup script
  tools/setup-dev.sh
Labels: tooling

#259 glass: improve side-nav (sub-items)
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.spec.ts
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar.component.scss
  src/glass/src/app/core/navigation-bar/navigation-bar.component.ts
Labels: feature, glass

#258 glass: Improve i18n implementation
  src/glass/.tx/config
  src/glass/src/app/app.module.ts
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/app/i18n.helper.ts
  src/glass/src/assets/i18n/en_US.json
Labels: enhancement, glass

#267 Adding Ubuntu20.10 setup script support
  tools/setup-dev.sh
Labels: images, tooling

#269 microOS: build other image types besides Vagrant's
  images/microOS/config.xml
  tools/build-image.sh
Labels: images, tooling

#274 glass: Colorize 'Next' button
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
Labels: enhancement, glass

#271 glass: fix padding if no services configured
  src/glass/src/app/app.module.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.scss
Labels: bug, glass

#252 Refactor tests
  src/gravel/cephadm/tests/test_cephadm.py
  src/gravel/controllers/orch/tests/__init__.py
  src/gravel/controllers/orch/tests/conftest.py
  src/gravel/controllers/orch/tests/test_ceph.py
  src/gravel/controllers/tests/test_config.py
  src/gravel/controllers/tests/test_gstate.py
  src/gravel/controllers/tests/test_services.py
  src/gravel/tests/__init__.py
  src/gravel/tests/conftest.py
  src/gravel/tests/data/default_ceph.conf
  src/gravel/tests/unit/cephadm/data/gather_facts_real.json
  src/gravel/tests/unit/cephadm/data/inventory_real.json
  src/gravel/tests/unit/cephadm/test_cephadm.py
  src/gravel/tests/unit/controllers/orch/data/mon_df_raw.json
  src/gravel/tests/unit/controllers/orch/data/mon_osdmap_raw.json
  src/gravel/tests/unit/controllers/orch/test_ceph.py
  src/gravel/tests/unit/controllers/test_config.py
  src/gravel/tests/unit/controllers/test_gstate.py
  src/gravel/tests/unit/controllers/test_services.py
  src/requirements-test.txt
  src/tools/checks/ceph.py
  src/tools/checks/cephfs.py
  src/tools/checks/orch.py
  src/tools/checks/services.py
  src/tools/checks/storage.py
Labels: WIP, gravel

#266 gravel: add support to extend cluster to multiple nodes
  src/aquarium.py
  src/glass/src/app/shared/services/api/status.service.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
  src/gravel/api/bootstrap.py
  src/gravel/api/nodes.py
  src/gravel/api/orch.py
  src/gravel/api/services.py
  src/gravel/api/status.py
  src/gravel/controllers/bootstrap.py
  src/gravel/controllers/config.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes.py
  src/gravel/controllers/nodes/__init__.py
  src/gravel/controllers/nodes/conn.py
  src/gravel/controllers/nodes/errors.py
  src/gravel/controllers/nodes/messages.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/orchestrator.py
  src/gravel/controllers/resources/__init__.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
  src/gravel/tests/unit/controllers/disabled_test_services.py
  src/gravel/tests/unit/controllers/test_config.py
Labels: Required, feature, glass, gravel

#279 doc: adding hackweek proposal
  doc/spec/hackweek-proposal.md
Labels: all-review, documentation

#278 doc: adding dates for comms release
  doc/project-plan/public-release-plan.rst
Labels: documentation

#281 tumbleweed: not sure why build-image needs kpartx
  tools/setup-dev.sh
Labels: images, tooling

#285 Add kiwi boxbuild for distro other then openSUSE
  tools/build-image.sh
  tools/setup-dev.sh
Labels: images, tooling

#286 gravel: api/services: available space must account for reservations
  src/gravel/api/services.py
  src/gravel/controllers/services.py
Labels: Required, bug, gravel

#288 glass: Fix various issues in dashboard
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
Labels: bug, glass

#273 gravel: Add option to configure port via cmd args
  run_aquarium.sh
Labels: enhancement, gravel, tooling

#289 microOS: add live ISO support
  images/microOS/config.xml
  tools/build-image.sh
Labels: feature, images

#287 gravel: allow creating pools with one replica
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/tests/conftest.py
  src/gravel/tests/unit/controllers/orch/test_ceph.py
Labels: Required, bug, gravel

#291 doc: small fixes to readme
  README.md
Labels: all-review, documentation

#295 gravel: log to console and file; piggyback and relicense stuff
  src/aquarium.py
  src/gravel/api/bootstrap.py
  src/gravel/api/nodes.py
  src/gravel/api/orch.py
  src/gravel/api/services.py
  src/gravel/api/status.py
  src/gravel/cephadm/cephadm.py
  src/gravel/cephadm/models.py
  src/gravel/controllers/bootstrap.py
  src/gravel/controllers/gstate.py
  src/gravel/controllers/nodes/conn.py
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/cephfs.py
  src/gravel/controllers/orch/models.py
  src/gravel/controllers/orch/orchestrator.py
  src/gravel/controllers/resources/inventory.py
  src/gravel/controllers/resources/storage.py
Labels: cleanup, gravel

#270 glass: Add installer page to join existing cluster
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/navigation-bar/navigation-bar-item/navigation-bar-item.component.html
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.scss
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.html
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.spec.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.html
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/register-page/register-page.component.html
  src/glass/src/app/pages/register-page/register-page.component.scss
  src/glass/src/app/pages/register-page/register-page.component.spec.ts
  src/glass/src/app/pages/register-page/register-page.component.ts
  src/glass/src/app/pages/welcome-page/welcome-page.component.html
  src/glass/src/app/pages/welcome-page/welcome-page.component.scss
  src/glass/src/app/pages/welcome-page/welcome-page.component.spec.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/language-button/language-button.component.html
  src/glass/src/app/shared/components/language-button/language-button.component.scss
  src/glass/src/app/shared/components/language-button/language-button.component.spec.ts
  src/glass/src/app/shared/components/language-button/language-button.component.ts
  src/glass/src/app/shared/components/submit-button/submit-button.component.html
  src/glass/src/app/shared/components/submit-button/submit-button.component.scss
  src/glass/src/app/shared/components/submit-button/submit-button.component.ts
  src/glass/src/app/shared/components/token-input/token-input.component.html
  src/glass/src/app/shared/components/token-input/token-input.component.scss
  src/glass/src/app/shared/components/token-input/token-input.component.spec.ts
  src/glass/src/app/shared/components/token-input/token-input.component.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/glass/src/app/shared/services/status-route-guard.service.spec.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
Labels: enhancement, glass

#298 glass: Hide node specific widgets by default
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
Labels: enhancement, glass

#303 glass: Relocate CSS definition
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.scss
  src/glass/src/app/shared/components/widget/widget.component.scss
Labels: bug, glass

#304 glass: Add CephFs share in bootstrapped cluster
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/pages/deployment-page/deployment-page.component.ts
  src/glass/src/app/shared/components/widget/widget.component.html
  src/glass/src/app/shared/components/widget/widget.component.ts
  src/glass/src/app/shared/services/dialog.service.spec.ts
  src/glass/src/app/shared/services/dialog.service.ts
Labels: feature, glass

#306 glass: Change colors in capacity widget
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
Labels: cleanup, glass

#305 glass: Fix various issues
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-dashboard-widget/services-dashboard-widget.component.ts
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.ts
  src/glass/src/app/shared/components/components.module.ts
  src/glass/src/app/shared/components/widget/widget.component.html
  src/glass/src/app/shared/components/widget/widget.component.scss
Labels: bug, cleanup, glass

#307 glass: Show the health status textuel
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/health-dashboard-widget/health-dashboard-widget.component.ts
Labels: cleanup, glass

#308 glass: Use consistent language in dashboard
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
Labels: cleanup, glass

#179 gravel: expose bootstrap progress
  src/gravel/api/bootstrap.py
  src/gravel/cephadm/cephadm.py
  src/gravel/controllers/bootstrap.py
  src/gravel/tests/unit/cephadm/test_cephadm.py
Labels: enhancement, gravel

#310 glass: Fix widget layout in error state
  src/glass/src/app/shared/components/widget/widget.component.html
  src/glass/src/app/shared/components/widget/widget.component.scss
Labels: cleanup, glass

#313 gravel: fix bugs on bootstrap and join
  src/gravel/controllers/bootstrap.py
  src/gravel/controllers/nodes/mgr.py
Labels: Required, bug, cleanup, gravel

#318 tools: setup-dev.sh: ensure we exit 0 on '--help'
  tools/setup-dev.sh
Labels: bug, tooling

#317 gravel: rework bootstrap code
  src/gravel/api/bootstrap.py
  src/gravel/controllers/bootstrap.py
  src/gravel/controllers/nodes/bootstrap.py
  src/gravel/controllers/nodes/errors.py
  src/gravel/controllers/nodes/mgr.py
Labels: Required, cleanup, gravel

#312 .github/workflows: add glass unit tests config
  .github/workflows/glass-unit-tests.yml
Labels: CI

#320 gravel: cephadm: correct symlink documentation
  src/gravel/cephadm/README.md
Labels: documentation, gravel

#323 gravel: node/mgr: share ceph.conf and keyring on join
  src/gravel/controllers/nodes/messages.py
  src/gravel/controllers/nodes/mgr.py
Labels: Required, bug, gravel

#326 gravel: simplify unknown service type handling
  src/gravel/api/services.py
  src/gravel/controllers/services.py
Labels: gravel

#321 tool: add tool to deal with vagrant deployments, drop 'setup.sh'
  .gitignore
  .wasser/config.yaml
  doc/from-zero-to-hacking.md
  tests/vagrant/setup.sh
  tests/vagrant/templates/Vagrantfile.tmpl
  tools/aqrdev
Labels: documentation, feature, tooling

#187 glass: Expose bootstrap progress
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/shared/services/api/bootstrap.service.ts
Labels: enhancement, glass, gravel

#322 glass: move the IP/FQDN validator
  src/glass/src/app/pages/register-page/register-page.component.html
  src/glass/src/app/pages/register-page/register-page.component.spec.ts
  src/glass/src/app/pages/register-page/register-page.component.ts
  src/glass/src/app/shared/forms/validators.spec.ts
  src/glass/src/app/shared/forms/validators.ts
Labels: enhancement, glass

#327 gravel: provide device info, per host, with utilization, via API
  src/aquarium.py
  src/gravel/api/devices.py
  src/gravel/controllers/config.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/models.py
  src/gravel/controllers/resources/devices.py
Labels: Recommended, feature, gravel

#330 gravel: expose I/O rates, both cluster-wide and per-service
  src/gravel/api/status.py
  src/gravel/controllers/config.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/models.py
  src/gravel/controllers/resources/status.py
  src/gravel/typings/rados.pyi
Labels: Required, feature, gravel

#331 gravel: ctrl/services: expose services space usage
  src/gravel/api/services.py
  src/gravel/controllers/resources/storage.py
  src/gravel/controllers/services.py
Labels: Required, enhancement, gravel

#315 glass: Check node is initialized before bootstrapping
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.html
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.ts
  src/glass/src/app/shared/services/poll.service.ts
Labels: enhancement, glass

#343 gravel: tox: have flake8 ignoring cephadm.bin
  src/tox.ini
Labels: CI, enhancement, gravel

#311 glass: Add services page
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/core/navigation-bar/navigation-bar.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/pages/services-page/services-page.component.html
  src/glass/src/app/pages/services-page/services-page.component.scss
  src/glass/src/app/pages/services-page/services-page.component.spec.ts
  src/glass/src/app/pages/services-page/services-page.component.ts
  src/glass/src/app/shared/pipes/redundancy-level.pipe.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
  src/glass/src/app/shared/shared.module.ts
Labels: all-review, enhancement, feature, glass

#336 gravel: endpoints to manage an nfs service
  src/aquarium.py
  src/gravel/api/nfs.py
  src/gravel/controllers/orch/nfs.py
Labels: Required, feature, gravel

#339 gravel: ctrl/status: fix typo on variable name
  src/gravel/controllers/resources/status.py
Labels: Required, bug, gravel

#349 gravel: ctrl/nfs: fixup todo comment
  src/gravel/controllers/orch/nfs.py
Labels: gravel

#340 aqrdev: add 'status' command
  tools/aqrdev
Labels: enhancement, tooling

#335 glass: Fix CPU load chart in sys info widget
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/sys-info-dashboard-widget/sys-info-dashboard-widget.component.ts
Labels: bug, cleanup, glass

#347 gravel: ctrl/svc: ignore missing pool on stats
  src/gravel/controllers/services.py
Labels: Required, bug, gravel

#353 gravel/glass: present constraints on service creation
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.ts
  src/glass/src/app/shared/services/api/services.service.ts
  src/gravel/api/services.py
  src/gravel/controllers/resources/devices.py
  src/gravel/controllers/services.py
Labels: Required, feature, glass, gravel

#355 glass: round size values to 2 decimals if needed
  src/glass/src/app/shared/pipes/bytes-to-size.pipe.ts
Labels: enhancement, glass

#357 glass: Relocate forms to dedicated directory
  src/glass/src/app/core/core.module.ts
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.html
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.scss
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.spec.ts
  src/glass/src/app/core/modals/cephfs/cephfs-modal.component.ts
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.html
  src/glass/src/app/pages/deployment-page/cephfs-modal/cephfs-modal.component.scss
  src/glass/src/app/pages/deployment-page/deployment-page.component.html
  src/glass/src/app/pages/not-found-page/not-found-page.component.html
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/shared/services/dialog.service.ts
  src/glass/src/defaults.scss
  src/glass/src/styles.scss
Labels: cleanup, glass

#334 gravel/glass: add option to configure ntp at initial deployment
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/material.modules.ts
  src/glass/src/app/pages/bootstrap-page/bootstrap-page.component.html
  src/glass/src/app/pages/install-config-page/install-config-page.component.html
  src/glass/src/app/pages/install-config-page/install-config-page.component.scss
  src/glass/src/app/pages/install-config-page/install-config-page.component.spec.ts
  src/glass/src/app/pages/install-config-page/install-config-page.component.ts
  src/glass/src/app/pages/install-mode-page/install-mode-page.component.html
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/shared/services/api/orch.service.spec.ts
  src/glass/src/app/shared/services/api/orch.service.ts
  src/glass/src/defaults.scss
  src/gravel/api/orch.py
  src/gravel/controllers/orch/ntp.py
Labels: feature, glass, gravel

#342 gravel: adjust crush rulesets depending on number of nodes
  src/gravel/controllers/nodes/mgr.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/models.py
Labels: Required, enhancement, gravel

#338 gravel: expose cephfs credentials via API
  src/gravel/api/services.py
  src/gravel/controllers/orch/ceph.py
  src/gravel/controllers/orch/cephfs.py
  src/gravel/controllers/orch/models.py
  src/gravel/controllers/services.py
Labels: Recommended, enhancement, gravel

#348 glass: Add consumed storage by service dashboard widget
  src/glass/src/app/core/dashboard/dashboard.module.ts
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/capacity-dashboard-widget/capacity-dashboard-widget.component.ts
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.html
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.scss
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.spec.ts
  src/glass/src/app/core/dashboard/widgets/services-capacity-dashboard-widget/services-capacity-dashboard-widget.component.ts
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.html
  src/glass/src/app/pages/dashboard-page/dashboard-page.component.ts
  src/glass/src/app/shared/services/api/services.service.spec.ts
  src/glass/src/app/shared/services/api/services.service.ts
Labels: feature, glass
