Repository aquarist-labs/aquarium, pull requests merged in 2022-01, with the labels that each got.

#758 glass: Adapt installer to new deployment API
  src/aquarium.py
  src/glass/cypress/fixtures/node_qualified.json
  src/glass/cypress/integration/dive_into_aquarium.js
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/pages/hosts-page/hosts-page.component.ts
  src/glass/src/app/pages/install-bootstrap-page/install-bootstrap-page.component.html
  src/glass/src/app/pages/install-bootstrap-page/install-bootstrap-page.component.scss
  src/glass/src/app/pages/install-bootstrap-page/install-bootstrap-page.component.spec.ts
  src/glass/src/app/pages/install-bootstrap-page/install-bootstrap-page.component.ts
  src/glass/src/app/pages/install-welcome-page/install-welcome-page.component.html
  src/glass/src/app/pages/install-welcome-page/install-welcome-page.component.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.spec.ts
  src/glass/src/app/pages/install-wizard/install-create-wizard-page/install-create-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.html
  src/glass/src/app/pages/install-wizard/install-join-wizard-page/install-join-wizard-page.component.ts
  src/glass/src/app/pages/install-wizard/install-wizard.module.ts
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.html
  src/glass/src/app/pages/install-wizard/steps/local-devices-step/local-devices-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/storage-devices-step/storage-devices-step.component.html
  src/glass/src/app/pages/install-wizard/steps/storage-devices-step/storage-devices-step.component.scss
  src/glass/src/app/pages/install-wizard/steps/storage-devices-step/storage-devices-step.component.spec.ts
  src/glass/src/app/pages/install-wizard/steps/storage-devices-step/storage-devices-step.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/services/api/deploy.service.spec.ts
  src/glass/src/app/shared/services/api/deploy.service.ts
  src/glass/src/app/shared/services/api/local-inventory.service.ts
  src/glass/src/app/shared/services/api/local.service.ts
  src/glass/src/app/shared/services/api/nodes.service.spec.ts
  src/glass/src/app/shared/services/api/nodes.service.ts
  src/glass/src/app/shared/services/status-route-guard.service.spec.ts
  src/glass/src/app/shared/services/status-route-guard.service.ts
Labels: enhancement, glass, gravel

#766 Use JS based Jest configuration to be able to use 'ngcc-jest-processor'
  src/glass/jest.config.js
  src/glass/package.json
Labels: enhancement, glass, cleanup

#767 glass: allow port on registry address
  src/glass/src/app/shared/forms/validators.spec.ts
  src/glass/src/app/shared/forms/validators.ts
Labels: bug, glass

#768 glass: Add proxy.conf.json sample file
  src/glass/.gitignore
  src/glass/proxy.conf.json.sample
Labels: glass, cleanup

#773 Update NPM packages
  src/glass/package-lock.json
  src/glass/package.json
Labels: enhancement, glass

#771 Hide overlapping text in table cells
  src/glass/src/app/shared/components/datatable/datatable.component.spec.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/styles.scss
Labels: enhancement, glass

#772 Use default datatable cell template for all columns that have not defined a specific template
  src/glass/src/app/shared/components/datatable/datatable.component.html
Labels: enhancement, glass

#770 glass/gravel: Add button to redirect to Bubbles UI
  src/glass/src/app/app-routing.module.ts
  src/glass/src/app/core/top-bar/top-bar.component.html
  src/glass/src/app/core/top-bar/top-bar.component.ts
  src/glass/src/app/pages/empty-page/empty-page.component.html
  src/glass/src/app/pages/empty-page/empty-page.component.scss
  src/glass/src/app/pages/empty-page/empty-page.component.spec.ts
  src/glass/src/app/pages/empty-page/empty-page.component.ts
  src/glass/src/app/pages/pages.module.ts
  src/glass/src/app/shared/services/api/status.service.ts
  src/gravel/controllers/ceph/models.py
Labels: enhancement, feature, glass, gravel

#774 glass: update eslint version
  src/glass/package-lock.json
  src/glass/package.json
  src/glass/src/app/pages/install-wizard/steps/host-step/host-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/ntp-step/ntp-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/registration-step/registration-step.component.ts
  src/glass/src/app/pages/install-wizard/steps/storage-devices-step/storage-devices-step.component.ts
  src/glass/src/app/shared/components/alert-panel/alert-panel.component.ts
  src/glass/src/app/shared/components/datatable/datatable.component.ts
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
  src/glass/src/app/shared/directives/autofocus.directive.ts
Labels: glass

#775 glass: Do not order select options
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.html
  src/glass/src/app/shared/components/declarative-form/declarative-form.component.ts
Labels: enhancement, glass, cleanup
